<a href="https://colab.research.google.com/github/gameaphiwat/DWDM21/blob/main/Mini_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**ข้อสอบ**
จาก data flights.csv และ airports.csv ใน https://drive.google.com/drive/u/0/folders/1eF7iez0uSGT3M7j0icI7NmevqOtVPswu

0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function gen_exams() แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน) และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [3]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

In [12]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/MiniExam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [14]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/MiniExam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [15]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

In [16]:
gen_exams('623020545-4')

รหัสนักศึกษา 623020545-4 ทำข้อ 4 และ 1

#**เริ่ม**

####**เชื่อมตาราง**

In [17]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')  #ทำการเชื่อมตาราง 2 ตาราง ได้แก่ 1.flights 2.airports ด้วย รหัสสนามบินต้นทางและรหัสสนามบิน

In [18]:
merged_table

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

####**ดู missing**

In [20]:
merged_table.dropna() #เช็คดู missing

         วันในเดือน  ...                                 ชื่อสนามบิน
0                19  ...                  Detroit Metro Wayne County
1                19  ...                Salt Lake City International
2                19  ...                      Portland International
3                19  ...             Lambert-St. Louis International
4                19  ...  Cincinnati/Northern Kentucky International
...             ...  ...                                         ...
2702213          19  ...                       Orlando International
2702214          19  ...    Hartsfield-Jackson Atlanta International
2702215          19  ...           Albuquerque International Sunport
2702216          19  ...    Hartsfield-Jackson Atlanta International
2702217          19  ...    Hartsfield-Jackson Atlanta International

[2702218 rows x 11 columns]

###**ข้อ 4 สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด**

In [53]:
merged_table['ความล่าช้าขาออก'].max() # ความล่าช้าขาออก ที่มีค่ามากสุด

1863

In [54]:
merged_table['ความล่าช้าขาเข้า'].max() #  ความล่าช้าขาออก ที่มีค่ามากสุด

1845

In [73]:
##ความล่าช้าขาออกมากสุด
maxEx1= merged_table.groupby('สายการบิน').max().sort_values(by=['ความล่าช้าขาออก'],ascending=False) ## Group column สายการบิน ที่มีความล่าช้าขาออก มากสุด
maxEx1.iloc[:1,4:5]

           ความล่าช้าขาออก
สายการบิน
AA                    1863

In [74]:
##ความล่าช้าขาเช้ามากสุด
maxEx1 = merged_table.groupby('สายการบิน').max().sort_values(by=['ความล่าช้าขาเข้า'],ascending=False) ## Group column สายการบิน ที่มีความล่าช้าขาออก มากสุด
maxEx1.iloc[:1,5:6]

           ความล่าช้าขาเข้า
สายการบิน
HA                     1845

In [58]:
merged_table['ความล่าช้าขาออก'].min() #  ความล่าช้าขาออก ที่มีค่าน้อยสุด

-63

In [59]:
merged_table['ความล่าช้าขาเข้า'].min() #  ความล่าช้าขาเข้า ที่มีค่าน้อยสุด

-94

In [62]:
## ความล่าช้าขาออกน้อยสุด
minEx1 = merged_table.groupby('สายการบิน').min().sort_values(by=['ความล่าช้าขาออก'],ascending=False) #  สายการบิน ที่มีความล่าช้าขาออก น้อยสุด
minEx1.iloc[-1:,4:5]

           ความล่าช้าขาออก
สายการบิน
F9                     -63

In [63]:
## ความล่าช้าขาออกน้อยสุด
minEx1 = merged_table.groupby('สายการบิน').min().sort_values(by=['ความล่าช้าขาเข้า'],ascending=False) #  สายการบิน ที่มีความล่าช้าขาเข้า น้อยสุด
minEx1.iloc[-1:,5:6]

           ความล่าช้าขาเข้า
สายการบิน
YV                      -94

###**ข้อ 1.หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด**

In [50]:
merged_table.groupby('รัฐ').count()

     วันในเดือน  วันในสัปดาห์  สายการบิน  ...  รหัสสนามบิน   เมือง  ชื่อสนามบิน
รัฐ                                       ...
AK         7700          7700       7700  ...         7700    7700         7700
AZ       100710        100710     100710  ...       100710  100710       100710
CA       380046        380046     380046  ...       380046  380046       380046
CO        97259         97259      97259  ...        97259   97259        97259
CT        13042         13042      13042  ...        13042   13042        13042
DC        80536         80536      80536  ...        80536   80536        80536
FL       208139        208139     208139  ...       208139  208139       208139
GA       148563        148563     148563  ...       148563  148563       148563
HI        28395         28395      28395  ...        28395   28395        28395
IL       176939        176939     176939  ...       176939  176939       176939
IN        18038         18038      18038  ...        18038   18038        18038
KY        10915         10915      10915  ...        10915   10915        10915
LA        25184         25184      25184  ...        25184   25184        25184
MA        66699         66699      66699  ...        66699   66699        66699
MD        51761         51761      51761  ...        51761   51761        51761
MI        62584         62584      62584  ...        62584   62584        62584
MN        60174         60174      60174  ...        60174   60174        60174
MO        63570         63570      63570  ...        63570   63570        63570
NC       104766        104766     104766  ...       104766  104766       104766
NE        13487         13487      13487  ...        13487   13487        13487
NJ        64313         64313      64313  ...        64313   64313        64313
NM        17542         17542      17542  ...        17542   17542        17542
NV        88222         88222      88222  ...        88222   88222        88222
NY       132823        132823     132823  ...       132823  132823       132823
OH        66389         66389      66389  ...        66389   66389        66389
OK        13922         13922      13922  ...        13922   13922        13922
OR        30484         30484      30484  ...        30484   30484        30484
PA        67957         67957      67957  ...        67957   67957        67957
PR        13840         13840      13840  ...        13840   13840        13840
RI         9313          9313       9313  ...         9313    9313         9313
TN        53414         53414      53414  ...        53414   53414        53414
TX       275503        275503     275503  ...       275503  275503       275503
UT        47324         47324      47324  ...        47324   47324        47324
VA        21491         21491      21491  ...        21491   21491        21491
WA        60172         60172      60172  ...        60172   60172        60172
WI        21002         21002      21002  ...        21002   21002        21002

[36 rows x 10 columns]

In [64]:
maxEx4 = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)  #รัฐ ที่มีสนามบินปลายทาง มากสุด 
maxEx4.iloc[:1,4:5]

     รหัสสนามบินปลายทาง
รัฐ
CA               380046

In [65]:
minEx4 = merged_table.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) #รัฐ ที่มีสนามบินปลายทาง น้อยสุด เพราะโจทย์ถามขาออก
minEx4.iloc[-1:,4:5]

     รหัสสนามบินปลายทาง
รัฐ
AK                 7700

##**ข้อสุดท้าย คิดโจทย์เอง**

**หาสายการบินที่มีเที่ยวบินมากที่สุด**

In [111]:
merged_table.groupby('สายการบิน').count()

           วันในเดือน  วันในสัปดาห์  ...     รัฐ  ชื่อสนามบิน
สายการบิน                            ...
9E              80031         80031  ...   80031        80031
AA             289855        289855  ...  289855       289855
AS              68555         68555  ...   68555        68555
B6             121906        121906  ...  121906       121906
DL             381657        381657  ...  381657       381657
EV             157928        157928  ...  157928       157928
F9              35738         35738  ...   35738        35738
FL              92702         92702  ...   92702        92702
HA              17432         17432  ...   17432        17432
MQ             113212        113212  ...  113212       113212
OO             160164        160164  ...  160164       160164
UA             286418        286418  ...  286418       286418
US             233321        233321  ...  233321       233321
VX              34739         34739  ...   34739        34739
WN             575739        575739  ...  575739       575739
YV              52821         52821  ...   52821        52821

[16 rows x 10 columns]

In [113]:
max = merged_table.groupby('สายการบิน').count().sort_values(by=['รัฐ'],ascending=False)  #สายการบินที่มีเที่ยวบินมากสุด 
max.iloc[:1,::]

           วันในเดือน  วันในสัปดาห์  ...     รัฐ  ชื่อสนามบิน
สายการบิน                            ...
WN             575739        575739  ...  575739       575739

[1 rows x 10 columns]

##**ตอบ** คือสายการบิน **WN**